@use 'page/header';
@use 'page/first-section';
@use 'page/second-section';
@use 'page/third-section';
@use 'page/fourth-section';
@use 'page/fifth-section';
@use 'page/footer';
@use 'page/responsive';


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


header {
    background: rgb(239,128,49);
    background: linear-gradient(177deg, rgba(239,128,49,0.09291841736694673) 0%, rgba(239,128,49,0.07050945378151263) 69%, rgba(239,128,49,0.14894082633053218) 100%);
}
 main {
    background: rgb(239,128,49);
    background: linear-gradient(177deg, rgba(239,128,49,0.08451505602240894) 0%, rgba(239,128,49,0.07050945378151263) 69%, rgba(239,128,49,0) 100%);
}

