.top-line {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
}
.top-line .logo {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  padding-left: 140px;
}
.top-line .logo img {
  padding-right: 10px;
}
.top-line .logo p {
  color: #647b64;
  font-weight: bold;
}
.top-line .list-in-row {
  padding-right: 140px;
  display: flex;
  flex-wrap: wrap;
}
.top-line .list-in-row li {
  display: inline;
  list-style-type: none;
}
.top-line .list-in-row a {
  text-decoration: none;
  color: #333333;
  padding-right: 48px;
}

.first-section {
  width: 100%;
  padding-top: 155px;
  padding-left: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.first-section .first-section-content {
  grid-column: 1/2;
}
.first-section .first-section-content .section-title {
  font-size: 48px;
  font-weight: normal;
  color: #333333;
  margin: 0;
  padding-bottom: 24px;
}
.first-section .first-section-content .section-description {
  color: #4F4F4F;
  padding-bottom: 32px;
  font-size: large;
}
.first-section .first-section-content .button {
  width: 80%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  background: linear-gradient(0.25turn, #647B64, #66AC66);
}
.first-section .first-section-content .button .section-link {
  text-decoration: none;
  color: #FEFEFE;
  padding: 27px;
  text-transform: uppercase;
}
.first-section .illustration img {
  height: 585.91px;
  position: absolute;
  top: 156px;
  left: 897px;
}

.second-section {
  width: 100%;
  padding-top: 244px;
  padding-left: 170px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.second-section .second-section-content {
  padding-right: 109px;
  grid-column: 1/2;
}
.second-section .second-section-content .title {
  text-transform: uppercase;
  font-weight: normal;
  color: #F3B562;
  font-size: 24px;
}
.second-section .second-section-content .section-title {
  font-size: 41px;
  font-weight: normal;
  color: #647b64;
  margin: 0;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.second-section .second-section-content .section-description {
  padding-bottom: 40px;
}
.second-section .second-section-content .button {
  width: 80%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  background: linear-gradient(0.25turn, #647B64, #66AC66);
}
.second-section .second-section-content .button .section-link {
  text-decoration: none;
  color: #FEFEFE;
  padding: 27px;
  text-transform: uppercase;
  margin-left: 0px;
}
.second-section .second-section-communication {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 78px;
}
.second-section .second-section-communication .first-communication img {
  background-color: #647B64;
  padding: 10px;
  border-radius: 8px;
}
.second-section .second-section-communication .first-communication .communication-title {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
}
.second-section .second-section-communication .first-communication .communication-description {
  font-size: 13px;
  color: #4F4F4F;
}
.second-section .second-section-communication .second-communication img {
  background-color: #FEFEFE;
  padding: 10px;
  border-radius: 8px;
}
.second-section .second-section-communication .second-communication .communication-title {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
}
.second-section .second-section-communication .second-communication .communication-description {
  font-size: 13px;
  color: #4F4F4F;
}

.third-section {
  width: 100%;
  padding-top: 147px;
  background-color: #E5E5E5;
  padding-bottom: 171px;
}
.third-section .third-section-titles {
  text-align: center;
}
.third-section .third-section-titles .title {
  text-transform: uppercase;
  font-weight: normal;
  color: #F3B562;
  font-size: 24px;
  padding-bottom: 17px;
}
.third-section .third-section-titles .section-title {
  font-size: 41px;
  font-weight: normal;
  color: #647b64;
  margin: 0;
  padding-bottom: 56px;
  text-transform: uppercase;
}
.third-section .third-section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 140px;
  padding-right: 140px;
}
.third-section .third-section-content .first-content {
  width: 30%;
  background-color: #FEFEFE;
  border-radius: 8px;
}
.third-section .third-section-content .first-content img {
  padding-top: 72px;
  padding-left: 50px;
  padding-bottom: 15px;
}
.third-section .third-section-content .first-content .first-content-title {
  padding-left: 50px;
  padding-right: 50px;
  color: #333333;
  font-size: 24px;
  font-weight: normal;
}
.third-section .third-section-content .first-content .first-content-description {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 72px;
  color: #4F4F4F;
  font-size: 13px;
}
.third-section .third-section-content .second-content {
  width: 30%;
  background-color: #647b64;
  border-radius: 8px;
}
.third-section .third-section-content .second-content img {
  padding-top: 72px;
  padding-left: 50px;
  padding-bottom: 15px;
}
.third-section .third-section-content .second-content .first-content-title {
  padding-left: 50px;
  padding-right: 50px;
  color: #FEFEFE;
  font-size: 24px;
  font-weight: normal;
}
.third-section .third-section-content .second-content .first-content-description {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 72px;
  color: #FEFEFE;
  font-size: 13px;
}

.fourth-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  padding-left: 140px;
  padding-right: 167px;
}
.fourth-section img {
  width: 563px;
  height: 545px;
}
.fourth-section .fourth-section-content {
  width: 30%;
}
.fourth-section .fourth-section-content .title {
  text-transform: uppercase;
  font-weight: normal;
  color: #F3B562;
  font-size: 24px;
}
.fourth-section .fourth-section-content .section-title {
  font-size: 41px;
  font-weight: normal;
  color: #647b64;
  margin: 0;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.fourth-section .fourth-section-content .section-description {
  font-size: 13px;
  color: #4F4F4F;
}
.fourth-section .button {
  width: 80%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  background: linear-gradient(0.25turn, #647B64, #66AC66);
}
.fourth-section .button .section-link {
  text-decoration: none;
  color: #FEFEFE;
  padding: 27px;
  text-transform: uppercase;
  margin-left: 0px;
}
.fourth-section .button img {
  width: 22px;
  height: 15px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}/*# sourceMappingURL=style.css.map */