@use 'variables';
@use 'responsive' as r;

.fifth-section {
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 172px;
    padding-top: 140px;

    @include r.xl {
        padding-left: 50px;
        padding-right: 50px;
    }

   
    .fifth-section-top {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;

        .fifth-section-title {
            .title {
            text-transform: uppercase;
            font-weight: normal;
            color: variables.$color-title;
            font-size: 24px;

            @include r.sm {
                font-size: 22px;
            }
            }
            .section-title {
                font-size: 41px;
                font-weight: normal;
                color: variables.$color-primary;
                margin: 0;
                padding-bottom: 40px;
                text-transform: uppercase;

                @include r.sm {
                    font-size: 22px;
                }
            }
        }
        .buttons {
            display: flex;
            gap: 23px;

            @include r.sm {
                display: none;
            }

            .active-button {
                background: rgb(100,123,100);
                background: linear-gradient(220deg, rgba(100,123,100,1) 26%, rgba(106,221,106,1) 75%);
                border-radius: 50%;
                padding: 10px;
                   
            }
            
        }
    }
    .reviews {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-count: 40px;
        
        @include r.md {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    
        
        .first-review {
            width: 30%;
            background: rgb(100, 123, 100);
            background: linear-gradient(0deg, rgba(100, 123, 100, 0.77) 0%, rgba(100, 123, 100, 0.13) 55%, rgba(100, 123, 100, 0) 66%);
            border-radius: 8px;

              
        @include r.md {
            width: 50%;
        }

            .review-title {
                display: flex;
                flex-wrap: wrap;
                padding-left: 40px;
                padding-right: 32px;
                
                .image {
                    max-width: 159px;
                    height: 268px;
                }
                .review-top-title {
                    margin-bottom: 5px;
                    font-size: 16px;

                    @include r.sm {
                        font-size: 12px;
                    }
                }
                .name {
                    font-size: 13px;
                    color: variables.$color-p;

                    @include r.sm {
                        font-size: 10px;
                    }
                }
            }
            .section-description {
                font-size: 16px;
                color: variables.$color-p;
                font-style: italic;
                padding-left: 40px;
                padding-right: 60px;

                @include r.sm {
                    font-size: 12px;
                }
            }
        }
    }
}