@use 'variables';


.first-section {
    width: 100%;
    padding-top: 155px;
    padding-left: 180px;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .first-section-content {
        grid-column: 1 / 2;

        .section-title {
            font-size: 48px;
            font-weight: normal;
            color: variables.$color-text;
            margin: 0;
            padding-bottom: 24px;
        }
        .section-description {
            color: variables.$color-p;
            padding-bottom: 32px;
            font-size: large;
        }
        .button {
            display: grid;
            grid-template-columns: 6fr 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            background: variables.$color-button;
            
            .section-link {
                text-decoration: none;
                color: variables.$color-white;
                padding: 27px 186px 26px 0px;
                text-transform: uppercase;
                
            }
        }
    }
    .illustration {
        img {
            height: 585.91px;
            position: absolute;
            top: 156px;
            left: 897px;
        }
    }
}