@use 'variables';
@use 'responsive' as r;


footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    column-gap: 66px;
    padding-bottom: 97px;
    padding-top: 97px;
    background-color: #F0DCC5;

      
    @include r.md {
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
        row-gap: 40px;
    }

    .first-footer-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include r.sm {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            width: 70%;
        }

        .logo {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: center;
            padding-left: 140px;

            @include r.xl {
                padding-left: 50px;
            }

            img {
                padding-right: 10px;
            }

            p {
                color:variables.$color-primary;
                font-weight: bold;
            }
        }
        .address {
            padding-left: 140px;

            @include r.xl {
                padding-left: 50px;
            }
            
            ul {
                padding-left: 0;

                li {
                    list-style-type: none;
                    font-size: 14px;
                    color: variables.$color-p;
                    padding-bottom: 16px;
                }
            }
            .icons {
                a {
                    text-decoration: none;
                }
              img {
                  padding-right: 16px;
                }    
            }
        }
        
    }
    .second-footer-column {

        @include r.sm {
            grid-column: 1 / 2;
            padding-left: 50px;
        }
        h4 {
            font-weight: normal;
            font-size: 20px;
            color: variables.$color-primary;
            margin-top: 0;
        }
        ul {
            padding-left: 0;
            
            li {
                list-style-type: none;
                font-size: 14px;
                padding-bottom: 16px;
                
                a {
                    text-decoration: none;
                    color: variables.$color-p;
                }
            }
        }
    }
    .third-footer-column {
       
        @include r.md {
            padding-left: 50px;
        }
        
        h4 {
            font-weight: normal;
            font-size: 20px;
            color: variables.$color-primary;
            margin-top: 0;
        }
        ul {
            padding-left: 0;

            li {
                list-style-type: none;
                font-size: 14px;
                
                padding-bottom: 16px;

                a {
                    color: variables.$color-p;
                    text-decoration: none;
                }
            }
        }
    }
    .fourth-footer-column {
        @include r.sm {
            grid-column: span 3;
            display: grid;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

       h3 {
        width: 30%;
        font-size: 20px;
        font-weight: normal;
        color: variables.$color-primary;
        margin-top: 0;
        margin-bottom: 12px;
       }

        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding-left: 15px;

            @include r.sm {
                padding-left: 0;
            }
           
            input#email {
                width: 283px;
                height: 133px;
                
            }
        }
        .button {
            width: 60%;
            display: grid;
            grid-template-columns: 6fr 1fr;
            align-items: center;
            background: variables.$color-button;
            margin-top: 29px;

                @include r.sm {
                    width: 100%;
                }
        
            a {
                text-decoration: none;
                color: variables.$color-white;
                padding: 20px;
                text-transform: uppercase;
            }
        }
    }
}