@use 'variables';
@use 'responsive' as r;

.fourth-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    padding-left: 140px;
    padding-right: 167px;

    @include r.xl {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    img {
        width: 563px;
        height: 545px;
    }
    .fourth-section-content {
        width: 30%;

        .title {
            text-transform: uppercase;
            font-weight: normal;
            color: variables.$color-title;
            font-size: 24px;
        }
        .section-title {
            font-size: 41px;
            font-weight: normal;
            color: variables.$color-primary;
            margin: 0;
            padding-bottom: 40px;
            text-transform: uppercase;
        }
        .section-description {
            font-size: 13px;
            color: variables.$color-p;
        }
    }
    .button {
        width: 80%;
        display: grid;
        grid-template-columns: 6fr 1fr;
        align-items: center;
        background: variables.$color-button;
        

        .section-link {
            text-decoration: none;
            color: variables.$color-white;
            padding: 27px ;
            text-transform: uppercase;
            margin-left: 0px;
        }
    
        
        img {
            width: 22px;
            height: 15px;
        }
    }
}