@use 'variables';
@use 'responsive'as r;

.top-line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;

    @include r.lg {
        justify-content: space-around;
    }
    
    
    .logo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        padding-left: 140px;

        @include r.xl {
            padding-left: 50px;
        }
        img {
            padding-right: 10px;
        }
        p {
            color:variables.$color-primary;
            font-weight: bold;
        }
    }
    .list-in-row {
        padding-right: 140px;
        display: flex;
        flex-wrap: wrap;

        @include r.xl {
            padding-right: 50px;
        }

        li {
            display: inline;
            list-style-type: none;
            padding-left: 0;
            font-size: 16px;
            
           
            &:hover {
                background: rgb(100,123,100);
                background: linear-gradient(220deg, rgba(100,123,100,1) 26%, rgba(106,221,106,1) 75%);
                padding: 10px 5px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        a {
            text-decoration: none;
            color: variables.$color-text;
            margin-right: 48px;
            

        }
    }
}

