@use 'variables';
@use 'responsive'as r;

.second-section {
    width: 100%;
    padding-top: 100px;
    // padding-left: 170px;
    display: grid;
    grid-template-columns: 2fr 3fr;

    .second-section-content {
        padding-right: 109px;
        grid-column: 1 / 2;
       
        @include r.xl {
            padding-right: 50px;
        }

        .background-color {
           
            background: rgb(239,128,49);
            background: linear-gradient(0deg, rgba(239,128,49,0) 0%, rgba(239,128,49,0.06490721288515411) 11%, rgba(239,128,49,0.16014530812324934) 15%);
            
        

            .title {
                text-transform: uppercase;
                font-weight: normal;
                color: variables.$color-title;
                font-size: 24px;
                padding-left: 170px;
                padding-top: 40px;

                @include r.xl {
                    padding-left: 50px;
                }
            }

            .section-title {
                font-size: 41px;
                font-weight: normal;
                color: variables.$color-primary;
                margin: 0;
                padding-bottom: 40px;
                text-transform: uppercase;
                padding-left: 170px;
                margin-right: 56px;
                
                @include r.xl {
                    padding-left: 50px;
                }
            }
        }
        .section-description {
            padding-bottom: 40px;
            padding-left: 170px;

            @include r.xl {
                padding-left: 50px;
            }
        }
        .button {
            width: 60%;
            display: grid;
            grid-template-columns: 6fr 1fr;
            align-items: center;
            background: variables.$color-button;
            margin-left: 170px;

            @include r.xl {
                margin-left: 50px;
            }
            

            .section-link {
                text-decoration: none;
                color: variables.$color-white;
                padding: 27px ;
                text-transform: uppercase;
                margin-left: 0px;
            }
        }
    }
    .second-section-communication {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 78px;
        padding-right: 170px;

        @include r.xl {
            padding-right: 50px;
        }

        .first-communication {
            background-color: variables.$color-white ;
            border-radius: 8px;
            box-shadow: 1px 2px 10px  variables.$color-p;
          
            a {
                text-decoration: none;
                
                img { 
                    background-color: #647B64;
                    padding: 10px;
                    border-radius: 8px;
                    margin-top: 40px;
                    margin-left: 40px;
                }
                .communication-title {
                   color: variables.$color-text;
                   font-size: 24px;
                   font-weight: normal;
                   padding-left: 40px;
    
                }
                .communication-description {
                    font-size: 13px;
                    color: variables.$color-p;
                    padding-left: 40px;
                    padding-bottom: 45px;
                    padding-right: 27px;
                }
            }

        }
        .second-communication {
            a {
                text-decoration: none;

                img {
                   background-color: variables.$color-white;
                   padding: 10px;
                   border-radius: 8px;
                   border-radius: 8px;
                   margin-top: 40px;
                   margin-left: 40px;
               }
               .communication-title {
                   color: variables.$color-text;
                   font-size: 24px;
                   font-weight: normal;
                   padding-left: 40px;
               }
               .communication-description {
                   font-size: 13px;
                   color: variables.$color-p;
                   padding-left: 40px;
                   padding-bottom: 45px;
                   padding-right: 27px;
               }
            }
        }
    }
}